<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBVvKjL3GCBJjHuLG16t-7a0HGLgb99-dw</string>
	<key>GCM_SENDER_ID</key>
	<string>108703758359</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.travelitineraryplanner</string>
	<key>PROJECT_ID</key>
	<string>travelitineraryplanner-8411f</string>
	<key>STORAGE_BUCKET</key>
	<string>travelitineraryplanner-8411f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:108703758359:ios:1157c0d840b34088b6c452</string>
</dict>
</plist>